extends layout

block content
    h2=channel.title
    div
        h3="Episodes"
        ul
            each episode, j in channel.episodes
                li.episode-container
                    h3=episode.title
                    p.date=episode.pubDate.toUTCString() || "No date"
                    a.link(href=episode.link)=episode.link
                    p.description=episode.description
        a.see-more(href='/channel/' + channel.id + '/episodes')="See more"