extends layout

block content
    ul.episodes-list
        each episode, i in episodes
            li.episode-container
                h3=episode.title
                h4.channel=episode.channelTitle
                p.date=episode.pubDate
                a(href=episode.link)=episode.link
                p.description=episode.description